page-register 
{

.bg-image
	{
		background-image: url('https://i.imgur.com/5O8YJHa.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

	}	

	ion-button {
		position: absolute;
		bottom: 10%;
		left: 60%;
	}

}
